.friendList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
.friendList > li {
  display: flex;
  justify-content: baseline;
  align-items: center;
}
.item {
  display: flex;
  width: 250px;
  margin-block: 7px;
  background-color: grey;
  border-radius: 5px;
  padding-block: 7px;
  padding-left: 5px;
}

.active {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #55eb33;
  border-radius: 50%;
}

.inactive {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: red;
}

.avatar {
  margin-left: 10px;
}

.name {
  padding-left: 20px;
  font-weight: 700;
  color: azure;
}
